html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    background-color:  rgb(245, 245, 245);
}

h1,h2,h3{
    text-align: center;
}

/* utilities */
.container {
    width: min(90%, 70rem);
    margin: 0 auto;
}

.align-end{
    align-self: flex-end;
}

.card{
    background-color: #fff;
    box-shadow: 5px 5px 10px 1px rgba(145,145,145,0.8);
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 5px;
}

.button{
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    font-weight: bold;
}

.button__primary{
    background-color: #015497;
    color: #fff;
}
.button__secondary{
    background-color: #fff;
    color:#015497;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
}

/* Navbar */
.background_navbar {
    background-color: #015497;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.navbar__link {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
}

.navbar__link:hover {
    background-color: rgb(4, 128, 230);
}

/* Hero */
.hero {
    background-image: url('images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, .7);
    background-blend-mode:color;
    height: 40rem;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* Services */
.services__title{
    margin-bottom: 2rem;
}

.wrapper__services{
    display: flex;
    gap: 2rem;
}

.service{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
.service__title{
    font-weight: 400;
    color: #015497;
}
.service__icon{
    width: 8rem;
    height: 8rem;
    background-color: #015497;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Contacto */
.contacto{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contacto__form{
    background-color: #015497;
    padding: 2rem 2rem 0rem;
    border-radius: 5px;
    width: min(90%,50rem);
    margin: 0 auto;
}

.contacto__form fieldset{
    border: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacto__form legend{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group .label{
    flex: 0 0 8rem;
    font-weight: bold;
    color: #fff;
}

.form-group .input{
    flex: 1;
    border: none;
    height: 4rem;
    border-radius: 5px;
    padding: 0 1rem;
}

.input.textarea{
    height: 10rem;
}

/* Footer */
.footer{
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}